<div class="wrapper">
  <div class="date-picker">
    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        formControlName="day"
        (dateChange)="getDayNames($event)"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="country-list">
    <country-day
      *ngFor="let country of countryDayList"
      [countryDay]="country"
    ></country-day>
    <!-- *ngfor para hacer un for de los elementos -->
  </div>
</div>
